# üöÄ Welcome to My Portfolio Notebook

Hi, I'm Rahul ‚Äî a freelancer with skills in **Python scripting, data analysis, web development (HTML/CSS), and Java programming**.  
This notebook showcases small projects and samples of my work in a clean, interactive format.

_Explore my mini-projects below!_

In [1]:
# Mini Project 1 ‚Äì Python Web Scraper
import requests
from bs4 import BeautifulSoup

url = "https://books.toscrape.com/"
res = requests.get(url)
soup = BeautifulSoup(res.text, "html.parser")

books = soup.find_all("h3")
for book in books[:5]:
    print(book.a['title'])

A Light in the Attic
Tipping the Velvet
Soumission
Sharp Objects
Sapiens: A Brief History of Humankind

In [2]:
# Mini Project 2 ‚Äì Data Analysis with Pandas
import pandas as pd

# Load dummy dataset
data = {
    'Name': ['Site A', 'Site B', 'Site C'],
    'Visits': [350, 420, 280],
    'Bounce Rate': [50, 65, 40]
}
df = pd.DataFrame(data)
df.describe()

       Visits  Bounce Rate
count     3.0     3.000000
mean    350.0    51.666667
std      70.0    12.583057
min     280.0    40.000000
25%     315.0    45.000000
50%     350.0    50.000000
75%     385.0    57.500000
max     420.0    65.000000

## üñ•Ô∏è HTML + CSS Code Sample
```html
<!DOCTYPE html>
<html>
  <head><style>h1 {color: blue;}</style></head>
  <body>
    <h1>My Web Page</h1>
    <p>This is a demo of HTML/CSS code snippet.</p>
  </body>
</html>
```

In [3]:
# Mini Project 4 ‚Äì Simple Calculator in Python
def calculator(a, b, operator):
    if operator == '+':
        return a + b
    elif operator == '-':
        return a - b
    elif operator == '*':
        return a * b
    elif operator == '/':
        return a / b
    else:
        return "Invalid operator"

calculator(10, 5, '*')

50

## üîó Let's Work Together!

This notebook shows just a glimpse of what I can build using **Python, HTML/CSS, and automation scripts**.

‚úÖ Need a custom data project, automation tool, or academic help?  
‚úÖ Want to convert your idea into code?

üì© Message me on Fiverr ‚Äî I‚Äôll be glad to help!